/* ================= HERO SECTION ================= */
.contact-hero {
    position: relative;
    height: 480px;
    background-image: url("banner-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Black transparent overlay */
.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 0;
}

/* HERO TEXT BOX */
.hero-content {
    position: relative; /* Overlay ke upar show */
    color: #ffffff;
    max-width: 700px;
    padding: 0 20px;
    z-index: 1; /* Overlay ke upar show */
}

/* MAIN HEADING */
.hero-content h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.hero-content h1 span {
    color: #f4b41a; /* Yellow same template */
}

/* SUB HEADING */
.hero-content h2 {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    opacity: 0.9;
}

/* PARAGRAPH */
.hero-content p {
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 25px;
    opacity: 0.9;
}

/* BUTTON */
.btn-hero {
    display: inline-block;
    padding: 12px 35px;
    background: #f4b41a;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 2px;
    transition: 0.3s;
    cursor: pointer;
}

/* BUTTON HOVER EFFECT */
.btn-hero:hover {
    background: #ffffff;
    color: #000;
    cursor: pointer;
}


.contact-hero .hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.contact-hero .hero-content {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.contact-hero h1 {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 3px;
}

.contact-hero h1 span {
    color: #ffb41a;
}

.contact-hero h2 {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}

.btn-hero {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 28px;
    background: #ffb41a;
    color: #000;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 12px;
}
